.ex_two button.active {
    color: firebrick;
}
.ex_five button span:last-child{
    display: none;
} 
.ex_five button.active span:first-child {
    display: none;
}
.ex_five button.active span:last-child {
    display: block;
}


.ex_six button span {
    background-color: darkslategray;
    color: white;
}