body {
    line-height: 28px;
}
.ex_one {
    width: 980px;
    padding-top: 20px;
    margin: 0 auto;
    border: 15px solid black; /* border의 사이즈 또한 들어간다! */
    text-align: center;
}
.ex_one::after {
    content: '';
    display: block;
    clear: both; /* clearfix */
    /* clear : both => both(left, right둘다의 float값을 취소한다는 뜻이다.) 
    다시말해, element가 float가 적용된 element 다음일 수 있는지 또는 
    그 아래로 내려가야하는지(cleared)를 지정한다. => 관련 float element의 margin경계 아래로
    clear를 적용할 element를 옯긴다. => 이는 later float element의 위치에 영향을 준다. earlier보다 높게 위치할수 없으므로! */
}
.ex_one div {
    height: 300px;
    background-color:darkgreen;
    line-height: 300px;
    font-size: 80px;
    font-weight: 700;
    color: white;
}
.ex_one .small {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.ex_one .wide {
    width: 460px;
    margin-bottom: 20px;
}
.ex_one .grid_one,
.ex_one .grid_two,
.grid_three,
.grid_four,
.grid_five,
.grid_six,
.grid_eight{
    float: left;
}
.ex_one .grid_three {
    clear: left;
}
.ex_one .grid_seven {
    float: right;
    margin-right: 20px;
}
.ex_one .grid_eight {
    clear: both;
    margin-left: 20px;
}
.ex_one .grid_nine {
    float: right;
    margin-right: 20px;
}
/* ex_two ------------------------------------------ */
.ex_two {
    width: 980px;
    padding-top: 20px;
    border: 15px solid black;
    margin: 0 auto;
}
.ex_two div {
    width: 300px;
    margin-bottom: 20px;
    background-color: firebrick;
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.ex_two::after {
    content: '';
    display: block;
    clear: both; /* clearfix */
}
.ex_two .short{
    height: 300px;
    line-height: 300px;
}
.ex_two .long {
    height: 620px;
    line-height: 620px;
}
.ex_two>.div_one,
.ex_two>.div_two,
.ex_two>.div_three,
.ex_two>.div_four{
    float: left;
    margin-left: 20px;
}
.ex_two .div_five,
.ex_two .div_six,
.ex_two .div_seven,
.ex_two .div_eight{
    clear: left;
    float: right;
    margin-right: 20px;
}
/* ex_three --------------------------------------- */
.ex_three {
    width: 980px;
    margin: 0 auto;
    border: 15px solid black;
    padding-top: 20px;
}
.ex_three::after {
    content:"";
    display: block;
    clear: both;
}
.ex_three div{
    width: 300px;
    background-color: dodgerblue;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
.ex_three div:nth-child(odd) {
    height: 150px;
    line-height: 150px;
}
.ex_three div:nth-child(even) {
    height: 300px;
    line-height: 300px;
}
.ex_three div:nth-child(3n+4) {
    clear:both;
}
/* ex_four --------------------------------- */
.ex_four{
    width: 730px;
    margin: 0 auto;
    border: 15px solid black;
    padding-top: 30px;
}
.ex_four::after{
    content: '';
    display: block;
    clear: both;
}
.ex_four div{
    margin-bottom: 30px;
    background-color: darkorange;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
.ex_four .div_one,
.div_two,
.div_ten,
.div_eleven{
    margin-left: 30px;
    width: 200px;
    height: 200px;
    float: left;
    line-height: 200px;
}
.div_four,
.div_five,
.div_six,
.div_seven{
    width: 200px;
    height: 200px;
    clear: left;
    float: right;
    margin-right: 30px;
    line-height: 200px;
}
.div_three {
    width: 340px;
    height: 200px;
    clear: left;
    line-height: 200px;
}
.div_four{
    height: 420px;
    line-height: 420px;
}
.div_eight{
    width: 420px;
    height: 420px;
    clear: right;
    float: left;
    line-height: 420px;
    margin-left: 30px;
}
.div_nine{
    width: 420px;
    height: 420px;
    clear: left;
    float: right;
    margin-right: 30px;
    line-height: 420px;
}
.div_ten{
    clear: right;
    float: left;
}
.div_eleven{
    float: right;
    margin-right: 30px;
}
.div_twelve{
    width: 200px;
    height: 200px;
    line-height: 200px;
    clear: both;
    margin: 0 auto;
}