.section_three {
    position: absolute;
    top: 200%;
    left: 0;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_three figure.figure_one {
    position: relative;
    width: 100%;
    height: 50%;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_three figure.figure_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section_three figure.figure_one figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    opacity: 0.9;
    color: black;
    font-size: 1.2em;
    box-shadow: 2px 2px 7px black;
    transform: translateX(-10000px);
    z-index: 10;
}
.section_three figure.figure_one:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 7px black;
    opacity: 0.3;
    z-index: 5;
}
.section_three figure.figure_one figcaption ul {
    padding-left: 0;
}
.section_three figure.figure_one figcaption ul li {
    line-height: 30px;
    margin: 10px 20px;
    font-size: 0.9em;
    font-weight: 300;
    color: white;
    z-index: 10;
}
.section_three figure.figure_one figcaption ul li:first-child {
    display: flex;
    justify-content: center;
    margin-left: 0;
}
.section_three figure.figure_one figcaption ul li.sub_title {
    font-size: 1.2em;
    font-weight: 900;
    color: var(--mustard);
}
.section_three figure.figure_one figcaption ul li.sub_title::before {
    content: '';
    border-left: 3px solid gray;
    margin-right: 7px;
}
.section_three figure.figure_one figcaption ul li a {
    display: block;
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
.section_three figure.figure_one figcaption ul li a:hover {
    color: firebrick;
}
.section_three figure.figure_one:hover figcaption {
    transform: translate(-50%, -50%);
}
/* section_three ---------------------------------------------------------------- */