* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    display: block;
}
section {
    padding: 2000px 0;
}
.section1 {
    background-color: darkgreen;
}
.section2 {
    background-color: cornflowerblue;
}
.section3 {
    background-color: firebrick;
}
.section4 {
    background-color: goldenrod;
}
.section1 li {
    width: 300px;
    margin: 30px auto;
    border: 5px solid black;
}
.section1 li img {
    width: 100%;
    transform: scale(0.1);
    transition: all 1.5s;
}
.section1 li.active img{
    transform: scale(1);
}