.section02 {
  width: 50%;
  figure.figure_one {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    &:hover {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 500px;
        padding: 20px;
        background-color: white;
        box-shadow: 2px 2px 7px black;
        opacity: 0.3;
        z-index: 5;
      } //&:hover&::before
      figcaption {
        transform: translate(-50%, -50%);
      } //figure_one:hover figcaption
    } //&:hover
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    } //img
    figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: black;
      opacity: 0.9;
      color: black;
      font-size: 1.2em;
      box-shadow: 2px 2px 7px black;
      transform: translateX(-10000px);
      z-index: 10;
      ul {
        padding-left: 0;
        li {
          line-height: 30px;
          margin: 10px 20px;
          font-size: 0.9em;
          font-weight: 300;
          color: white;
          z-index: 10;
          &:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;
          } //li:first-child
          &.sub_title {
            font-size: 1.2em;
            font-weight: 900;
            color: var(--mustard);
            &::before {
              content: "";
              border-left: 3px solid gray;
              margin-right: 7px;
            } //&::before
          } //li.sub_title
          a {
            display: block;
            margin-left: 15px;
            font-size: 1.4em;
            font-weight: 800;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: white;
            cursor: pointer;
            &:hover {
              color: firebrick;
            } //a:hover
          } //a
        } //li
      } //ul
    } //figcaption
    @media screen and (min-width: 1100px) and (max-width: 1300px) {
      &:hover {
        &::before {
          width: 250px;
          height: 450px;
          padding: 10px;
        } //&:hover&::before
      } //&:hover
      img {
        height: 85%;
      } //img
      figcaption {
        width: 250px;
        height: 450px;
        padding: 10px;
        font-size: 1em;
        ul {
          li {
            line-height: 25px;
            &.sub_title {
              &::before {
                margin-right: 5px;
              } //&::before
            } //li.sub_title
            a {
              margin-left: 15px;
            } //a
          } //li
        } //ul
      } //figcaption
    } //(1300 - 1100)
    @media screen and (min-width: 900px) and (max-width: 1100px) {
      &:hover {
        &::before {
          width: 200px;
          height: 370px;
          padding: 7px;
        } //&:hover&::before
      } //&:hover
      img {
        height: 70%;
      } //img
      figcaption {
        width: 200px;
        height: 370px;
        padding: 7px;
        font-size: 0.8em;
        ul {
          li {
            line-height: 17px;
            &.sub_title {
              &::before {
                margin-right: 5px;
              } //&::before
            } //li.sub_title
            a {
              margin-left: 15px;
            } //a
          } //li
        } //ul
      } //figcaption
    } //(1100 - 900)
    @media screen and (min-width: 700px) and (max-width: 900px) {
      &:hover {
        &::before {
          width: 250px;
          height: 450px;
          padding: 10px;
        } //&:hover&::before
      } //&:hover
      img {
        height: 55%;
      } //img
      figcaption {
        width: 250px;
        height: 450px;
        padding: 10px;
        font-size: 1em;
        ul {
          li {
            line-height: 25px;
            &.sub_title {
              &::before {
                margin-right: 5px;
              } //&::before
            } //li.sub_title
            a {
              margin-left: 15px;
            } //a
          } //li
        } //ul
      } //figcaption
    } //(900 - 700)
    @media screen and (max-width: 700px) {
      &:hover {
        &::before {
          width: 200px;
          height: 350px;
          padding: 7px;
        } //&:hover&::before
      } //&:hover
      img {
        height: 40%;
      } //img
      figcaption {
        width: 200px;
        height: 350px;
        padding: 7px;
        font-size: 0.8em;
        ul {
          li {
            line-height: 17px;
            &.sub_title {
              &::before {
                margin-right: 5px;
              } //&::before
            } //li.sub_title
            a {
              margin-left: 15px;
            } //a
          } //li
        } //ul
      } //figcaption
    } //(700 이하)
  } //figure.figure_one
} //section03
