button {
    width: 60px;
    height: 60px;
    border: 5px solid black;
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
}
.btn_box {
    display: inline-block;
    padding: 30px;
    border: 5px solid black;
}
.ex_three button.active,
.ex_four button.active{
    background-color: black;
    border-radius: 50%;
    border-color: rgb(51, 58, 36);
    box-shadow: 3px 9px 0px rgb(51, 58, 36);;
} /* 항상 JS보다 CSS부터 우선적으로 정리해놔야한다! */
.ex_eight button.active{
    background-color: firebrick;
}