body {
    line-height: 30px;
}
table {
    border-collapse: collapse;
    /* table에만 쓰는 전용attribute(border-collapse)이다.(나눠진 td를 합쳐줌) */
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
table td {
    border: 5px solid firebrick;
}