@import "mixin";
body {
  background: #fff;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#root {
  display: inline;
}
section {
  height: 100%;
}

.sticky-container {
  /* height:스크립트제어 */
  position: relative;
  .sticky {
    /* height:스크립트제어 */
    overflow: hidden;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    .sticky-inner {
      display: flex;
      width: 300%;
      height: 100%;
      background: #ccc;
      section {
        flex: 1;
      } //section
    } //sticky-inner
  } //sticky
  div.scr-div {
    padding-top: 100%;
    position: absolute;
    width: 100%;
  } //scr-div
} //sticky-container
