.section1 {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #4fa7e2;
  video.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1) blur(5px) brightness(1.2);
    mix-blend-mode: overlay;
  } //video
  .wrap {
    width: 90%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    } //lg
    @media screen and (max-width: 1000px) {
    } //sm
    .videos {
      position: relative;
      @media screen and (min-width: 1000px) {
        width: 55%;
        transform: translateY(-10%);
      } //lg
      @media screen and (max-width: 1000px) {
      } //sm
      video {
        width: 100%;
        box-sizing: border-box;
      } //video
      .video1,
      .video2 {
        position: absolute;
        filter: brightness(1.5) grayscale(1);
      } //video1&2
      .video1 {
        transform: translate(-50px, -50px);
      } //video1
      .video2 {
        transform: translate(50px, 50px);
      } //video2
      .video3 {
        position: relative;
        border: 3px solid rgb(214, 214, 214);
      } //video3
    } //videos
    .textbox {
      @media screen and (min-width: 1000px) {
        width: 40%;
        transform: translateY(10%);
      } //lg
      @media screen and (max-width: 1000px) {
        position: relative;
        margin: 0 auto;
        margin-top: -100px;
        width: 80%;
        padding: 20px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        background-color: rgba($color: #fff, $alpha: 0.5);
        box-sizing: border-box;
      } //sm
    } //textbox
  } //warp
} //section1
div.scr-section1 {
  height: 100%;
}
