.sticky {
    .sticky_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    } //sticky_video
    .bg_cloud {
        position: absolute;
        top: 0;
        width: 100%;
        img {
            width: 100%;
        } //img
    } //bg_cloud
} //sticky
