@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.korean {
  font-family: "LeferiPoint-BlackA";
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  display: flex;
}

li {
  list-style: none;
}
.hidden_one {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: gray;
    z-index: -10;
}
/* root_design ------------------------------------------------ */
figure.pencil {
    position: absolute;
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 400px;
    bottom: 3.5%;
    right: 19%;
    z-index: -1;
}
figure.pencil img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* figure.pencil ------------------------------ */
section.section_box {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px black;
}

.section_box > section {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
/* section_box ------------------------------ */
.section_box .lg_section_left {
    background-color: black;
    color: white;
    position: relative;
}
.section_box .lg_section_left a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}.section_box .lg_section_right a {
    text-decoration: none;
    color: black;
}
/* section_left ------------------------------- */
.section_left .left_one .title {
  font-size: 2.0em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 100px;
}
.section_left .left_one .title > li {
    margin-bottom: 25px;
}
.section_left .left_one .title > li:nth-child(2) {
    color: gray;
}
.section_left .left_one .title figure {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    top: -1%;
    right: 10%;
}
.section_left .left_one .title figure img.picture {
    border: 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.section_left .left_one .title  div.dark_one {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: gray; 
    top: 3%;
    left: 60%;
    z-index: 0;

}
/* left_one_title -------------------------------- */
.section_left .left_one .social > li {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}
.section_left .left_one .social > li > ul > li {
    margin-top: 15px;
    font-size: 18px
}
/* left_one_social -------------------------------- */
.section_left .left_one .profile > li {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}
.section_left .left_one .profile > li > ul > li {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
/* left_one_profile -------------------------------- */
.section_left .left_one .skills > li {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}
.section_left .left_one .skills > li > ul > li {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
/* left_one_skill -------------------------------- */
.section_box .lg_section_right {
    background-color: white;
    color: black;
}
.section_right .right_one .portpolio {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}
.section_right .right_one .portpolio ul {
    padding-left: 0;
}
.section_right .right_one .portpolio ul li:nth-child(odd) a{
    display: block;
    margin-top: 15px;
    padding-top: 150px;
    text-align: right;
    box-sizing: border-box;
    font-size: 40px;
}
.section_right .right_one .portpolio ul li:nth-child(even) {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
/* portpolio ------------------------------------------------------------------- */
.section_right .right_one .portpolio ul li.sunshine {
    position: relative;
}
.section_right .right_one .portpolio ul li.sunshine a {
    position: relative;
    display: block;
    background-color: rgb(237,25,58);
    color: white;
    transition: all 0.3s;
    z-index: 2;
}
.section_right .right_one .portpolio ul li.sunshine a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(237,25,58);
}
.section_right .right_one .portpolio ul li.sunshine figure.sun_template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 180px;
    margin: 0;
    z-index: 1;
}
.section_right .right_one .portpolio ul li.sunshine figure.sun_template img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* sunshine ------------------------------------------------------------------- */
.section_right .right_one .portpolio ul li.museum a {
    background-color: rgb(46,55,76);
    color: white;
    transition: all 0.3s;
}
.section_right .right_one .portpolio ul li.museum a:hover {
    background-color: white;
    color: rgb(46,55,76);
}
/* museum ------------------------------------------------------------------- */