@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.korean {
    font-family: 'LeferiPoint-BlackA';
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}
li {
    line-height: 80px;
    list-style: none;
}
body {
    margin: 0;
    display: flex;
}
section {
    padding: 80px;
    box-sizing: border-box;
}
section.section_left {
    width: 40%;
    background-color: rgb(15, 15, 15);
    color: white;
}
section.section_left .left_one ul {
    margin-bottom: 70px;
}
section.section_left .left_one .title li:first-child {
    margin-bottom: 30px;
}
section.section_left .left_one .title li:last-child {
    color: gray;
}
section.section_left .left_one > ul > li{
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bolder;
}
section.section_left .left_one > ul > li > ul > li {
    margin-top: 25px ;
    font-size: 0.6em;
    color: white;
    line-height: 45px;
}
section.section_left .left_one .social .social_desc a {
    font-size: 0.7em;
    text-decoration: none;
    color: white;
}
section.section_left .left_one > ul > li > ul > li  i {
    font-size: 1em;
}
/* section_left ------------------------------------------------------------------------ */
section.section_right {
    color: black;
}
section.section_right .right_one > ul > li{
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bolder;
}
section.section_right .right_one .portpolio a {
    display: block;
    width: 700px;
    padding-top: 300px;
    box-sizing: border-box;
    text-align: right;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}
section.section_right .right_one .portpolio .sunshine a {
    background-color: rgb(237,28,36);   
}
section.section_right .right_one .portpolio .sunshine a:hover {
    background-color: white;
    color: rgb(237,28,36);
}
section.section_right .right_one .portpolio .museum a {
    background-color: rgb(46,55,76);   
}
section.section_right .right_one .portpolio .museum a:hover {
    background-color: white;
    color: rgb(46,55,76);
}
section.section_right .right_one .portpolio .sunshine .portpolio_desc, 
section.section_right .right_one .portpolio .museum .portpolio_desc {
    font-size: 0.4em;
    line-height: 50px;
    margin-bottom: 30px;
}
/* section_right ------------------------------------------------------------------------ */