@import "common.scss";
/* SCSS는 직접 import를 해줘야 link가 된다! */
/* JS처럼 먼저 선언을 해야 후순위에서 쓸수 있다! */
.ex_one, .ex_two {
    background-color: rgba(yellow,0.5);
    > div {
        padding: 50px;
        display: inline-block;
        border: 5px solid rgb(48, 8, 8);
    }
} 
.ex_three a{
    &:nth-child(1):hover{
        background-color: var(--main-color);
    }
    /* & => .ex_three a:nth-child(1):hover의 역할을 한다! */
    &:nth-child(2):hover{
        background-color: darkblue;
    }
    &:nth-child(3):hover{
        background-color: $sub_color;
    }
}
.ex_four a {
    @include btn
}