@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html,body {
    margin: 0;
    padding: 0;
} 
li {
    list-style: none;
}
body {
    width: 100%;
    height: 4000px;
}
.title_font {
    font-family: 'Happiness-Sans-Title';
}
/* root ---------------------------------------------------------------------- */
.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--navy);
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left ul li {
    margin-left: 40px;
    color: var(--mint);
    font-size: 2.2em;
    font-weight: 800;
    line-height: 55px;
}
.left ul li:nth-child(3) {
    margin-bottom: 40px;
}
.left ul li.small {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 35px;
}
.left ul li.box a{
    display: block;
    margin-top: 40px;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid var(--mint);
    font-size: 0.6em;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    transition: all 0.5s;
    text-decoration: none;
    color: var(--mint);
    transition: all 0.5s;
}
.left ul li.box a:hover {
    color: var(--navy);
    background-color: var(--mint);
}
/* left_side ------------------------------------------------------------------ */
.section_one {
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    background-color: var(--mint);
}
/* section_one ---------------------------------------------------------------- */
.section_two {
    position: absolute;
    top: 100%;
    left: 0;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--navy);
}
.section_two div.first {
    margin-top: 100px;
    margin-left: 300px;
    font-size: 2em;
}
/* section_two ---------------------------------------------------------------- */
.section_three {
    position: absolute;
    top: 200%;
    left: 0;
    height: 1000px;
    background-color: lightgray;
}
/* section_three ---------------------------------------------------------------- */
.section_four {
    position: absolute;
    top: 300%;
    left: 0;
    height: 1000px;
    background-color: lightgray;
}
/* section_four ---------------------------------------------------------------- */
