@import "../mixin";
body {
    background-image: url(../../img/main/weather-icos.gif);
}
#root {
    @include posCenter;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 700px;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: white;
    > section {
        height: 100%;
    } //section
} //root
