@import "../mixin";
body {
    background-image: url(../../img/main/weather-icos.gif);
    animation: bgMove 5000s linear infinite;
    @keyframes bgMove {
        0% {
            background-position: 0 center;
        } //0%
        100% {
            background-position: -5000px center;
        } //100%
    } //bgMove
} //body
#root {
    @include posCenter;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 700px;
    overflow-y: scroll;
    box-sizing: border-box;
    background-image: url(../../img/weather/Clear.jpg);
    background-size: cover;
    > section {
        height: 100%;
    } //section
} //root
