div.btns {
    position: relative;
    height: 50%;
    top: 0;
    button {
        width: 25%;
        height: 20%;
        transition: all 0.3s;
        img {
            display: inline-block;
            height: 80%;
        }//img
    }//button
    /* click-motion */
    &:active {
        button {
            transform: scale(0.8);
            &:active {
                z-index: 1;
                transform: scale(2);
            }
        }
    }//btns:active
}//div.btns
