.section04 .viewbox_museum {
  position: absolute;
  bottom: -2%;
  z-index: 1;
  @media screen and (min-width: 1100px) and (max-width: 1300px) {
    bottom: 8%;
  } //(1300 - 1100)
  @media screen and (min-width: 900px) and (max-width: 1100px) {
    bottom: 13%;
  } //(1100 - 900)
  @media screen and (min-width: 700px) and (max-width: 900px) {
    bottom: 23%;
  } //(900 - 700)
  @media screen and (max-width: 700px) {
    bottom: 32%;
  } //(700 이하)
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      padding: 10px;
      box-sizing: border-box;
      &.active {
        figure {
          margin: 0 5px;
          transform: scale(1);
        } //li.active figure
      } //li.active
      figure {
        padding: 5px;
        background-color: white;
        box-shadow: 2px 2px 7px black;
        transform: scale(0);
        transition: all 0.5s;
        a {
          display: block;
          position: relative;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.3);
            } //:hover img
          } //:hover
          img {
            width: 100%;
            transition: all 0.5s;
          } //img
        } //a
      } //figure
    } //li
  } //ul
} //viewbox_museum
