body {
    line-height: 28px;
}
div {
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.ex_one {
    display: flex;
    flex-direction: row;
}
.ex_one div {
    background-color: red;
    color: white;
}
.ex_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
}
.ex_two div {
    background-color: blue;
    color: white;
}
.ex_three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.ex_three div {
    background-color: green;
}
.ex_three div:first-child{
    display: flex;
    height: 200px;
    align-items: center;
}
.ex_four{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
.ex_four div {
    background-color: yellow;
}
.ex_four div:first-child{
    width: 33.50px;
}
.ex_five {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}
.ex_five div {
    width: 33.33%;
}
.ex_six {
    display: flex;
    width: 300px;
    margin: 0 auto;
}
.ex_six div {
    flex: 1;
}
* {
    margin: 0;
    padding: 0;
}
.ex_seven {
    display: flex;
    width: 600px;
    margin: 10px auto;
}
.ex_seven div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: cadetblue;
}
.ex_seven div *{
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.ex_seven div p{
    flex: 1;
}