* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    display: block;
}
/* ------------------------------------------------- */
ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li {
    margin: 30px auto;
}
@media screen and (min-width:1000px) {
    
}
@media screen and (min-width:600px) and (max-width:1000px){

}
@media screen and (max-width:600px) {

}