.ex_one img {
    width: 50%;
}
.ex_two svg {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
}
.ex_three{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    background-color: firebrick;
}