.ex_one img {
    width: 50%;
}
.ex_two svg {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
}
.ex_three{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    background-color: firebrick;
}
.ex_three svg {
    background-color: burlywood;
    display: block;
    width: 100%;
    height: 100%;
}
.ex_four svg {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: cornflowerblue;
}
.ex_four svg path {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 7px;
    stroke-linecap: round;
}
.ex_four svg .path2,
.ex_four svg .path1_copy {
    display: none;
}
.ex_five svg path {
    fill: yellow;
    stroke: darkblue;
    stroke-width: 5px;
    stroke-dasharray: 7px;
    stroke-linecap: round;
}
.ex_five svg .path2,
.ex_five svg .path1_copy {
    display: none;
}
.ex_six svg {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background-color: lightgray;
}
.ex_seven svg {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background-color: lightgray;
}
.ex_six svg path {
    fill: none;
    stroke: firebrick;
    stroke-width: 3px;
    stroke-dasharray: 300px;
    stroke-dashoffset: 500px;
    animation: dashOffset 10000s linear;
}
@keyframes dashOffset {
    0% {
        stroke-dashoffset: 0px;
    }
    100% {
        stroke-dashoffset: 1000000px;
    }
}
.ex_seven svg path {
    fill: none;
    stroke: darkgreen;
    stroke-width: 3px;
    stroke-dasharray: 300px;
    stroke-dashoffset: 500px;
    animation: circulating 10s infinite;
}
@keyframes circulating {
    0% {
        stroke-dashoffset: 300px;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -300px;
    }
}
.ex_eight button {
    display: block;
    margin: 20px auto;
}
.ex_eight svg {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background-color: lightgray;
}
.ex_eight svg path {
    fill: none;
    stroke: midnightblue;
    stroke-width: 5px;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: all 3s linear;
}
.ex_eight.active svg path {
    stroke-dashoffset: 0;
}
.ex_nine {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.ex_nine path {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 15s, fill 5s;
    transition-delay: 0s, 0s;
}
.ex_nine.active path {
    stroke-dashoffset: 0;
    fill: rgb(37, 136, 103);
    transition-delay: 0s, 1s;
}