.ex_one img {
    width: 50%;
}
.ex_two svg {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
}
.ex_three{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    background-color: firebrick;
}
.ex_three svg {
    background-color: burlywood;
    display: block;
    width: 100%;
    height: 100%;
}
.ex_four svg {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: cornflowerblue;
}
.ex_four svg path {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 7px;
    stroke-linecap: round;
}
.ex_four svg .path2,
.ex_four svg .path1_copy {
    display: none;
}
.ex_five svg path {
    fill: yellow;
    stroke: darkblue;
    stroke-width: 5px;
    stroke-dasharray: 7px;
    stroke-linecap: round;
}
.ex_five svg .path2,
.ex_five svg .path1_copy {
    display: none;
}
.ex_six svg {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background-color: lightgray;
}
.ex_six svg path {
    fill: none;
    stroke: firebrick;
    stroke-width: 3px;
    stroke-dasharray: 10px;
    stroke-dashoffset: 5px;
    animation: dashOffset 10000s linear;
}
@keyframes dashOffset {
    0% {
        stroke-dashoffset: 0px;
    }
    100% {
        stroke-dashoffset: 1000000px;
    }
}