.ex_one {
    width: 500px;
    background-color: black;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
}
.ex_one div{
    width: 100px;
    height: 100px;
    /* margin-top: 100px;
    margin-collapse : top이나 bottom margin이 같은 위치에 위치해 있다면 병합되어서 
    같은 block(내/외부 element가 아닌 같은 element로 인식한다.)으로 browser는 인식한다. 
    따라서 반대로 외부인 .ex_one에서 padding을 이용한다. */
    background-color: yellow;
}
.ex_one div:nth-child(2) {
    margin-left: 100px;
    background-color: yellowgreen;
}
.ex_one div:last-child {
    margin-left: 200px;
    background-color: green;
}
.ex_two {
    width: 500px;
    background-color: black;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
}
/* box-sizing 잊지말자! */
.ex_two div div{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.ex_two > div {
    background-color: yellowgreen;
}
/* div 안에 또 div 있으니까(nested structure) > 사용해서 헷갈리게 하지 말자! */
.ex_two div div:last-child{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
    background-color: green;
}
.ex_three{
    border: 1px solid black;
    background-color: black;
    /* 특이하게도 margin-collapse는 border로 되어있거나 padding이 적용되어있으면 collapse가 되지않고 top/bottom이 적용된다. */
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.ex_three div {
    margin: 100px 0;
    background-color: yellow;
}
.ex_three span {
    margin: 20px;
    background-color: yellowgreen;
}
.ex_four {
    border: 1px solid black;
    background-color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.ex_four div {
    margin: 50px 0;
    /* block level 간의 상하margin은 collapse가 되서 FOUR, FIVE간의 차이가 100px이 아닌 50px이 된다. */
    background-color: green;
}
.ex_four span {
    display: inline-block;
    margin: 50px 50px;
    background-color: yellow;
}
.ex_five {
    width: 500px;
    margin: 0 auto;
    background-color: black;
    padding: 30px;
    box-sizing: border-box;
}
.ex_five>div {
    width: 200px;
    padding: 30px;
    box-sizing: border-box;
    background-color: red;
}
.ex_five .div_two{
    margin-top: 30px;
    margin-left: auto;
}
.ex_five div div{
    width: 100px;
    height: 100px;
    background-color: green;
}
.ex_five div div:last-child{
    margin-left: auto;
}