*{ 
  font-family: inherit;
  font-size: inherit;
  color:inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}
:root{

}
body{
  background-image: url(../img/paper.jpg);
  background-size: cover;
}



