section.section_one {
    width: 100%;
}
section.section_one figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}
section.section_one figure img {
    width: 100%;
    height: 100%;
}
section.section_one figure figcaption h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 7px black;
}
form input{
    padding: 15px 10px 15px 10px;
    margin-bottom: 3px;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;

}
#login-form input,
#identity{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login-form button {
    position: absolute;
    top: 38.2%;
    right: 36%;
}
#todo-form input{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#todo-list {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
}
#quotes span{
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}