body {
    background-color: cornflowerblue;
    line-height: 30px;
}
.section_one > img {
    width: 200px;
    height: 200px;
    /* img의 ratio를 맞춰야한다. => 일단 width/height를 맞춰놓으면 browser에서 자동적으로 맞춰준다.(안되는file도 있음. 그런건 따로 비레식으로 게산할것.) */
}
.section_one .pixel_art {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    /* cover는 해당 크기에 딱 맞춰서 img를 확대하고, contain은 해당크기에 img의 크기를 맞춘다. */
    /* object-fit : img, video 같은 element의 크기를 어떤 방식으로 조절해 element에 맞출 것인지 지정해준다. */
    /* object-position : x축, y축순으로 기재한다.(right/center/left top/center/bottom 또는 pixel이나 %로도 지정할수 있다. */
}
.section_one .google_img {
    width: 100px;
    height: 100px;
}
.section_two .section_two_one a{
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../06/IMG/facebook.jpg);
    transition: background-image 1s;
}
.section_two .section_two_one a:hover {
    background-image: url(../06/IMG/facebook_over.png);
}
section div {
    width: 200px;
    height: 200px;
    border: 7px solid black;
}
.section_two .section_two_two div {
    background-image: url(../06/IMG/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* -position은 항상 X축, Y축순으로 순서대로 적어야한다. */
}
.section_two .section_two_three div {
    background-color: yellow;
    background-image: url(../06/IMG/bg2.jpg);
    background-repeat: repeat-y;
    background-position: right;
}
.section_two .section_two_four div {
    background-image: url(../06/IMG/wallpapersden.com_artistic-building-pixel-art_2245x1225.jpg);
    background-color: darkgray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.section_two .section_two_five a {
    display: inline-block;
    background-image: url(../06/IMG/spriteimg.jpg);
    width: 50px;
    height: 50px;
}
.a_one:hover {
    background-position: -50px 0;
}
.a_two {
    background-position: -100px 0;
}
.a_two:hover {
    background-position: -150px 0;
}
.a_three {
    background-position: 0 -50px;
}
.a_three:hover {
    background-position: -50px -50px;
}
.a_four {
    background-position: -100px -50px;
}
.a_four:hover {
    background-position: -150px -50px;
}
.a_five {
    background-position: 0 -100px;
}
.a_five:hover {
    background-position: -50px -100px;
}
.a_six {
    background-position: -100px -100px;
}
.a_six:hover {
    background-position: -150px -100px;
}