header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
header div.header_top{
    height: 35px;
    background-color: var(--sub_color);
}
header div.header_top nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1100px;
    height: inherit;
    margin: 0 auto;
}
header div.header_top nav a {
    font-size: 0.9em;
    color: black;
    transition: all 0.5s;
}
header div.header_top nav a:hover {
    color: white;
    margin: 0 5px;
}
header div.header_top nav a::after {
    content: '/';
    margin: 0 5px;

}
header div.header_top nav a:last-child::after {
    display: none;
} 
header div.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: calc(100% - 35px);
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    height: 80%;
    max-height: 70px;
}
h1 img {
    height: 100%;
}
@media screen and (min-width:1000px) {
    body {
        padding-top: 150px;
    }
    header {
        height: 150px;
    }
    .gnb_sm, .m_btn {
        display: none;
    }
    .gnb_lg {
        
    }

}/* large, 최소1000px이하 */
@media screen and (max-width:1000px) {
    body {
        padding-top: 100px;
    }
    header {
        height: 100px;
    }
    .gnb_lg {
        display: none;
    }
    .gnb_sm {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
    }/* 여기서만 활성화 되는 class!(.gnb_sm) */
    .gnb_sm > ul > li > a{
        display: block;
        height: 40px;
        padding: 0 30px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: var(--dark_color);
        color: white;
    }
    .gnb_sm > ul > li > ul > li > a {
        display: block;
        height: 40px;
        padding: 0 40px;
        line-height: 40px;
        font-weight: 500;
        background-color: lightgray;
        border-bottom: 1px solid lightgray;
    }
    .gnb_sm > ul > li > ul > li > a::before {
        content: '-';
    }
    .m_btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: dimgray;
        font-size: 1.2em;
        transition: all 0.5s;
    }
    .m_btn:hover {
        background-color: var(--main_color);
    }
}/* small, 최대1000px이상 */